# Data Preprocessing 
- Total All Regions

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import math

In [2]:
df = pd.read_csv('data\kr_daily.csv')

In [3]:
df = df.drop(['date', 'death', 'released', 'tested', 'negative', 'critical'], axis=1)

In [4]:
def make_diff(dataframe):
    
    df_list = dataframe['confirmed'].tolist()
    diff = []

    for i in range(len(df_list)):
        if i != 0:
            diff.append(df_list[i] - df_list[i - 1])

    sub = [1]
    diff = sub + diff

    diff = pd.DataFrame(diff, columns=['confirmed'])

    return diff

In [5]:
make_diff(df)

     confirmed
0            1
1            0
2            0
3            1
4            0
..         ...
488        585
489        538
490        516
491        707
492        629

[493 rows x 1 columns]

In [6]:
def diff_level(dataframe, level):

    model = dataframe

    for i in range(level):
        model = make_diff(model)

    return model

In [24]:
diff_level(df, 1)

     confirmed
0            1
1            0
2            0
3            1
4            0
..         ...
488        585
489        538
490        516
491        707
492        629

[493 rows x 1 columns]

In [25]:
diff_level(df, 2)

     confirmed
0            1
1           -1
2            0
3            1
4           -1
..         ...
488        -81
489        -47
490        -22
491        191
492        -78

[493 rows x 1 columns]